@font-face {
    font-family: 'blairwitchFont';
    src: url('../assets/fonts/BlairCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --text-color: #FFFFFF; /* White */
    --font-family: 'blairwitchFont';
    --primary-color: #FFD700; /* Example primary color */
    --accent-color: #FF6347; /* Example accent color */
    --secondary-color: #4CAF50; /* Example secondary color */
    --secondary-color-dark: #388E3C; /* Example dark secondary color */
}
/* Apply to the entire document */
* {
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by most modern browsers */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
}

body {
    background-image: url('../assets/images/wallpaper/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 10em;
    font-size: 16px;
}

header, main, footer {
    width: 100%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0 0 10px;
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff; /* White outline */
}

p {
    margin: 0 0 15px;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color-dark);
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#deepglow-button {
    width: 128px; /* Increased width */
    height: auto; /* Adjust height if needed */
    cursor: pointer;
}



#banner {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}
